<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Enjoy</h1>
        <p class="col-md-8 fs-4">Enjoy your Database that is filled by a numerous number of games, you can add more,
            edit, and remove.</p>
        <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Our New UI!</h2>
            <p>With our redesigned interface, enjoy a seamless and intuitive user experience.
                Feel the difference with every interaction and discover new possibilities.</p>
            <!-- <button class="btn btn-outline-light" type="button">Example button</button> -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Mean Stack</h2>
            <p>This website is built using the MEAN Stack,
                leveraging MongoDB for database management,
                Express.js and Node.js for server-side operations,
                and Angular for a dynamic and responsive frontend</p>
            <!-- <button class="btn btn-outline-secondary" type="button">Example button</button> -->
        </div>
    </div>
</div>