<div class="row p-3">
    <div class="col-md-12 col-sm-12 col-12">
        <h3>Update A Game</h3>
    </div>
</div>
<hr />

<div class="p-3">
    <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" formControlName="title">
                <div *ngIf="gameForm.get('title')?.invalid && gameForm.get('title')?.touched" class="text-danger">
                    <div *ngIf="gameForm.get('title')?.errors">Error: Cannot be Empty.</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <label for="rate">Rate</label>
                <input type="number" id="rate" class="form-control" formControlName="rate">
            </div>
            <div class="col-md-3 col-sm-12 col-12">
                <label for="minPlayers">Min Players</label>
                <input type="number" id="minPlayers" class="form-control" formControlName="minPlayers">
            </div>

            <div class="col-md-3 col-sm-12 col-12">
                <label for="maxPlayers">Max Players</label>
                <input type="number" id="maxPlayers" class="form-control" formControlName="maxPlayers">
            </div>


        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12">
                <label for="minAge">Min Age</label>
                <input type="number" id="minAge" class="form-control" formControlName="minAge">
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label for="price">Price</label>
                <input type="number" id="price" class="form-control" formControlName="price">
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <label for="year">Year</label>
                <input type="number" id="year" class="form-control" formControlName="year">
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <div formArrayName="designers" class="form-group">
                    <label>Designers</label><span>&nbsp;&nbsp;</span><button type="button" class="btn btn-secondary"
                        (click)="addDesigner()">Add Designer</button>
                    <br />

                    <div *ngFor="let designer of designers.controls; let i=index">
                        <div class="row">
                            <div class="col-md-6 col-sm-8 col-8">
                                <input [formControlName]="i" class="form-control mt-2">

                            </div>
                            <div class="col-md-6 col-sm-4 col-4">
                                <button type="button" class="btn btn-danger mt-1"
                                    (click)="removeDesigner(i)">Remove</button>
                            </div>
                        </div>

                    </div>

                    <!-- <div *ngFor="let designer of Game?.designers; let i=index">
                        <div class="row">
                            <div class="col-md-6 col-sm-8 col-8">
                                <input [formControlName]="i" class="form-control mt-2">

                            </div>
                            <div class="col-md-6 col-sm-4 col-4">
                                <button type="button" class="btn btn-danger mt-1"
                                    (click)="removeDesigner(i)">Remove</button>
                            </div>
                        </div>

                    </div> -->

                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-12 text-center">
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                <!-- [disabled]="gameForm.invalid" -->
                <br />
                {{gameForm.status}}
            </div>
        </div>

    </form>
</div>